@use '../base/mixins' as *;
@use '../base/variables' as *;

.main {
  display: grid;
  grid-template-columns:
    [full-start] $margin-mobile
    [content-start] repeat(2, 1fr)
    [content-end] $margin-mobile
    [full-end];
  gap: 96px $gutter-mobile;
  padding-top: 60px;

  @include respond-to(tablet) {
    grid-template-columns:
      [full-start] $margin-tablet
      [content-start] repeat(6, 80px)
      [content-end] $margin-tablet
      [full-end];
    gap: 0 $gutter-tablet;
    justify-content: center;
  }

  @include respond-to(desktop) {
    grid-template-columns:
      [full-start] minmax($margin-desktop, 1fr)
      [content-start] repeat(12, 63px)
      [content-end] minmax($margin-desktop, 1fr)
      [full-end];
    gap: 0 $gutter-desktop;
  }
}
