@use '../base/variables' as *;
@use '../base/mixins' as *;

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  @include respond-to(tablet) {
    min-width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url('../assets/icons/icon-Phone-call.svg');
    background-repeat: no-repeat;
    background-position: right center;
    transition: all 0.4s ease;

    @include respond-to(tablet) {
      &:hover {
        padding-right: 32px;

        .icon__phone-number {
          max-width: 200px;
          opacity: 1;
          margin-right: 20px;
        }
      }
    }
  }

  &__phone-number {
    display: none;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-primary;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.7, 0.05, 0.4, 1);
    letter-spacing: 1px;
    pointer-events: none;

    @include respond-to(tablet) {
      display: block;
    }
  }

  &--close {
    background-image: url('../assets/icons/icon-Close.svg');
  }

  &--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .line {
      width: 24px;
      height: 2px;
      background: $color-primary;
      display: block;
      transform-origin: left;
      transition: all 0.3s cubic-bezier(0.7, 0.05, 0.4, 1);

      @include respond-to(tablet) {
        min-width: 32px;
      }
    }

    &:hover {
      .line-1 {
        transform: scaleX(0.75);
      }
      .line-3 {
        transform: scaleX(0.4);
      }
    }
  }
}
