@use '../base/mixins' as *;

.category {
  grid-column: content-start / content-end;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-right: auto;

    @include section-title;
  }

  &__btn {
    @include btn-base;

    @include respond-to(desktop) {
      max-width: 324px;
    }
  }
}

.category__card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  padding-bottom: 40px;

  @include respond-to(tablet) {
    padding-bottom: 56px;
  }

  &-imgbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    width: 100%;

    @include respond-to(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-link {
    align-items: stretch;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

  &-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;

    img {
      @include hover-img-zoom;

      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &-link--wide {
    @include respond-to(tablet) {
      grid-column: span 2;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    text-decoration: none;
    color: inherit;

    @include respond-to(tablet) {
      font-size: 24px;
    }
  }
}
