@use '../base/mixins' as *;
@use '../base/variables' as *;

.contacts {
  grid-column: content-start / content-end;

  &__title {
    @include section-title;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include respond-to(tablet) {
      gap: 80px;
    }

    @include respond-to(desktop) {
      flex-direction: row;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond-to(desktop) {
      flex: 1;
    }
  }

  &__input,
  &__textarea {
    @include regular-text;
    @include input-base;
  }

  &__textarea {
    min-height: 150px;
    resize: vertical;
    margin-bottom: 16px;
  }

  &__btn {
    @include btn-base;
  }

  &__info {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 64px;

    @include respond-to(desktop) {
      flex: 1;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
   @include regular-text;

    color: $color-secondary;
  }

  &__link,
  &__text {
    @include regular-text;

    color: $color-primary;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__text {
    margin: 0;
  }
}
