// @mixin respond($breakpoint) {
//   @if $breakpoint == mobile {
//     @media (max-width: 767px) { @content; }
//   } @else if $breakpoint == tablet {
//     @media (min-width: 768px) and (max-width: 1023px) { @content; }
//   } @else if $breakpoint == desktop {
//     @media (min-width: 1024px) { @content; }
//   }
// }

// .header {
//   padding: 32px;

//   @include respond(mobile) {
//     padding: 16px;
//   }
// }

@mixin regular-text {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

@mixin hover-zoom-img($scale: 1.03) {
  transition: transform 0.6s ease;

  &:hover {
    transform: scale($scale);
  }
}

