$color-primary: #292929;
$color-secondary: #9393a3;
$color-primary-bg: #e5e6e8;
$color-btn-text: #fff;
$color-btn-border: #f0f1f4;
$color-btn-active: #111;
$color-input: #f8f8fa;
$color-input-border-hover: #d5d7de;
$color-input-border-invalid: #be4f4f;
$color-input-placeholder: #7e7e83;
$tablet: 744px;
$desktop: 1260px;
$margin-mobile: 20px;
$margin-tablet: 72px;
$margin-desktop: 120px;
$gutter-mobile: 20px;
$gutter-tablet: 24px;
$gutter-desktop: 24px;
$container-tablet: 600px;
$container-desktop: 1020px;
